<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <!--
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  -->
  <form (submit)="updateProduct(updateproductform)" id="updateproductform" #updateproductform="ngForm">
    <mat-card class="mat-form-field--inline">
    <mat-form-field [style.width.px]="410" *ngIf="action != 'Delete'; else elseTemplate" appearance="fill">
        <mat-label>Product Code</mat-label>
        <input matInput [(ngModel)]="local_data.pcode"  ngModel  name="pcode" required #nameInput="ngModel">
    </mat-form-field>
    <br>
    <mat-form-field [style.width.px]="410" *ngIf="action != 'Delete'; else disabled" appearance="fill">
      <mat-label>Product Name</mat-label>
        <input matInput [(ngModel)]="local_data.pname"  ngModel required  name="pname" >
    </mat-form-field>
    <br>
    <mat-form-field [style.width.px]="410" *ngIf="action != 'Delete'; else disabled" appearance="fill">
    <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="local_data.pdescription" placeholder="Description" ngModel required name="pdescription" >
    </mat-form-field>
    <br>
    <mat-form-field [style.width.px]="410" *ngIf="action != 'Delete'; else disabled" appearance="fill">
    <mat-label>Minimum Qty</mat-label> 
        <input matInput [(ngModel)]="local_data.pminqty" placeholder="Minimum Qty" ngModel required  name="pminqty" >
    </mat-form-field>
    <br><br><!--
    <button mat-button (click)="doAction()" >{{action}}</button>(ngSubmit)="on(userForm)"  (click)="doAction()"
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button> -->
    </mat-card>
  </form>

  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.pcode}}</b><br>
  <!--  <button mat-button (click)="doAction()" >{{action}}</button>(ngSubmit)="on(userForm)"  
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button> -->
  </ng-template>
</div>

<div mat-dialog-actions>
  <button mat-button (ngSubmit)="on(userForm)" (click)="doAction()">{{action}}</button>  <!--(ngSubmit)="on(userForm)" -->
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>



