<div class="card mt-4">
    
    <strong><h4 class="card-header">Admin Features</h4></strong>
    <div class="col text-center"  >
      <!--<p>This page can be accessed <u>only by administrators</u>.</p>
        <p class="mb-1">All users from secure (admin only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul> --> 
        <button mat-raised-button [style.width.px]="300" routerLink="/adduser" color="primary" class="btn btn-secondary">Create Accounts</button>
        <br><br>
        <button mat-raised-button [style.width.px]="300" routerLink="/viewuser" color="primary" class="btn btn-secondary">View Users</button>
        <br><br>
        <button mat-raised-button [style.width.px]="300" routerLink="/productlisting" color="primary" class="btn btn-secondary">Product Listing</button>
        <br><br>
        <button mat-raised-button [style.width.px]="300" routerLink="/supplierlisting" color="primary" class="btn btn-secondary">Supplier Listing</button>
      <!--<mat-card class="example-card">
            
         [style.background-color.hex]="#2b9948"          
        <br> 
        <div class="container">       
        </div>  
        </mat-card> -->
    </div>
</div> <br>
   




   
    

